# MD files
/docs
TODO.md

# Environment
.env
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo
*.code-workspace

# OS
.DS_Store

# Conda
*.Conda
conda-meta/

# Output files
output/
*.png
*.json
mlflow.db
mlruns/
qdrant_storage/

